@mixin formDisplay(){
    margin-right: 10px;
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
    transition: ease 0.5s;
}

@mixin checkBox($display,$input,$r,$g,$b){
    #{$display}{
        background: rgba($r,$g,$b,0);
    }
    #{$input}:checked + #{$display}{
        background: rgba($r,$g,$b,0.5);
    }
}

.ExtCheckbox{
    .ExtCheckbox__input{
        display: none;
    }
    .ExtCheckbox__display{
        width: 50px;
        height: 20px;
        border: 1px solid #5dfc94;
        border-radius: 8px;
        @include formDisplay();
    }
    @include checkBox(".ExtCheckbox__display",".ExtCheckbox__input",87,204,149);
    .ExtCheckbox__input:disabled + .ExtCheckbox__display{
        border: 1px solid #379658;
        color: rgb(87, 87, 87);
    }
}

.StdCheckbox{
    font-size: 12px;
    .StdCheckbox__input{
        display: none;
    }
    .StdCheckbox__display{
        width: 130px;
        height: 20px;
        padding: 5px 10px;
        padding-top: 7px;
        vertical-align: middle;
        border: 1px solid #fff;
        @include formDisplay();
    }
    @include checkBox(".StdCheckbox__display",".StdCheckbox__input",255,255,255);
}

@mixin textForm(){
    background: #000;
    border:  none;
    color: white;
    border-bottom: 1px solid #fff;
    &:disabled{
        color: #888;    
    }
}

.stdText{
    width: 130px;
    height: 20px;
    p{
        margin: 0;
    }
    .stdText__input{
        @include textForm();
    }
}

.stdNumber{
    width: 130px;
    margin-right: 10px;
    display: block;
    p{
        margin: 0;
    }
    .stdNumber__input{
        @include textForm();
    }
}

.stdButton{
    width: 160px;
    height: 20px;
    background: linear-gradient(rgba(0, 20, 255,1),rgba(0, 20, 255,0));
    color: white;
    border:  none;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 10px;
    &:active{
        background: linear-gradient(rgb(6, 16, 133),rgba(0, 20, 255,0));
    }
}

.largeButton{
    width: 150px;
    height: 30px;
    color: white;
    background: rgb(28, 42, 105);
    box-shadow: 5px 5px 3px rgba(70,70,130,0.3);
    border: none;
    cursor: pointer;
    &:active{
        background: rgb(16, 23, 58);
    }
}

.selector__select{
    background: rgba(0,60,120,0.8);
    //-webkit-appearance: none;
    color: white;
    border: none;
    padding: 3px 20px;
    height: 25px;
    width: 200px;
    border-radius: 0px;
    option{
        background: rgba(20,40,80,0.3);
    }
}

.stdRadio{
    padding: 5px;
    border: 1px solid #fff;
    display: block;
    border-radius: 5px;
    margin-top: 5px;
    margin-right: 5px;
    cursor: pointer;
    .stdRadio__input{

    }
    .stdRadio__display{

    }
}

.FileCheckbox{
    padding: 5px;
    border: 1px solid #999;
    display: block;
    border-radius: 5px;
    margin-top: 5px;
    margin-right: 5px;
    cursor: pointer;
    .FileCheckbox__input{
        display: inline;
    }
    .FileCheckbox__display{
        display: inline;
    }
}